---
import Input from "../shared/form/Input.astro";

---
<div class="grid grid-cols-2 gap-4">
    <Input attributes={{
        label: 'Nombre de la tarea',
        name: 'title',
        placeholder: 'Ingresa el nombre de la tarea',
        id: 'title',
        required: 'true',
        size: 'col-span-1'
    }}/>    
    <div class="col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción de la tarea</label>
        <textarea id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Escribir la descripcion de la tarea"></textarea>
    </div>
    <input hidden type="checkbox" value="false" name="completed" id="completed">
</div>
